$background-color:dimgray;
$imgDir:"../img/";
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

@mixin simple-color ($color){
    background-color:$background-color;
    color:$color;
}

@mixin icon ($color){
    font-size:3rem;
    color:white;
    background-color:$color;
    border-radius:.3rem;
    padding:.4rem;
}
