@import "settings";

@media screen and (min-width: $breakpoint-small) { 
    .title {
        font-size:2rem;
    }
    
    .icon {
        background-size:150px 150px;
        width:100px;
        height:100px;
    }
    
    .top-img {
        height:auto!important;
    }
    
    .work {
        font-size:1rem;
    }
}

@media screen and (min-width: $breakpoint-medium) {
    .title {
        font-size:2.8rem;
    }
}

@media screen and (min-width: $breakpoint-large) { 
    .speech:before {
      content: "";
      position: absolute;
      top: -30px;
      left:0;
      right:0;
      margin:auto;
      border: 15px solid transparent;
      border-bottom: 20px solid lighten($background-color,20%);
      width: 0;
    }
    
    .title {
        font-size:3.8rem;
    }

    h5 {
        font-size:2rem!important;
    }

    p , h6 , li {
        font-size:1.5rem!important;
    }

    footer {
        p {
            font-size:1rem!important;
        }
    }
}